crewai
crewai-tools
langchain-huggingface==0.0.3
langchain-chroma==0.1.4
langchain-text-splitters
langchain-groq
groq
chromadb==0.5.23
sentence-transformers
python-dotenv
litellm
pyvis
nest-asyncio
fastapi
uvicorn
tokenizers==0.19.1